#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about > h1 {
    font-family: 'Rye', cursive;
    font-size: 3em;
    letter-spacing: 3px;
}

.portrait-about-img {
    width: 40%;
    min-width: 250px;
    box-shadow: 0 0 15px black;
}