#contact {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-image: url('../../public/images/old-paper.jpg');
    background-size: cover;
    font-size: 1.5em;
    font-family: 'Averia Libre', cursive;
    padding: 10px;
    border: 1px solid rgb(55, 10, 10);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(55, 10, 10);
    box-sizing: border-box;
}

#contact > form > :nth-child(odd) {
    margin-top: 10px;
}

#contact-name, #contact-email-address, #contact-message, #send-button {
    width: 100%;
    font-size: 1em;
    border: 1px solid rgb(55, 10, 10);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

#contact-message {
    min-height: 180px;
}

#check-send {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#send-button {
    width: 80px;
    height: 40px;
    background-color: rgb(55, 10, 10);
    color: white;
    font-family: 'Averia Libre', cursive;
    cursor: pointer;
}

#contact-cowboy {
    position: absolute;
    opacity: .7;
    width: calc(100% + 40px);
    bottom: -20px;
}

@media (orientation: portrait) and (max-width: 800px) {

    #check-send {
        flex-wrap: wrap;
    }

    #contact-cowboy {
        display: none;
    }
}