#sidebar-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#sidebar-content > h1 {
    font-family: 'Rye', cursive;
    font-size: 3em;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(55, 10, 10);
    margin-bottom: 10px;
}

.sidebar-image {
    width: 100%;
    /* background-color: coral; */
    border-bottom: 3px solid rgb(55, 10, 10);;
}

#sidebar-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -40px;
}

#sidebar-menu > h1 {
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Averia Libre', cursive;
    color: rgb(55, 10, 10);
}

#sidebar-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}