.nav-landscape, .nav-portrait {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.nav-portrait {
    position: fixed;
    z-index: 10;
    height: 94vh;
    top: 6vh;
    align-items: center;
    background-image: url('../../public/images/old-paper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.nav-buttons, .nav-active {
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    font-family: 'Averia Libre', cursive;
    color: rgb(55, 10, 10);
}

.nav-portrait > .nav-buttons {
    width: 250px;
    border-radius: 10px;
}

.nav-active {
    background-color: rgb(55, 10, 10);
    color: white;
}

.nav-landscape > .nav-buttons:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transform: scale(1.5) rotate(-10deg);
  -moz-transform: scale(1.5) rotate(-10deg);
  -o-transform: scale(1.5) rotate(-10deg);
  -ms-transform: scale(1.5) rotate(-10deg);
  transform: scale(1.5) rotate(-10deg);
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media (orientation: landscape) and (max-width: 800px) {

  .nav-portrait {
    height: fit-content;
    top: 50px;
    overflow-y: auto;
  }
}