.nav-landscape, .nav-portrait {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.nav-buttons {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    border-bottom: 1px solid white;
}

.nav-buttons:hover {
    background-color: blue;
}

.nav-active {
    background-color: white;
    color: cornflowerblue;
}