.lang-selection {
    width: 100%;
    position: relative;
    top: -50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
}

.lang-selection-portrait, .lang-buttons-portrait {
    width: 100%;
    display: flex;
}

.lang-selection-portrait {
    justify-content: center;
    margin-top: 100px;
}

.lang-buttons-portrait {
    max-width: 200px;
    justify-content: space-evenly;
}

.lang-popup {
    display: flex;
}

.lang-selected, .lang-to-select {
    width: 80px;
    height: 80px;
    background-size: contain;
    cursor: pointer;
}

.fade-in {
	-webkit-animation: fade-in 1.5s;
	animation: fade-in 1.5s;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (orientation: landscape) and (max-width: 800px) {

    .lang-selection-portrait {
        margin-top: 0;
    }
}