.App {
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#sidebar {
  width: 300px;
  min-width: 300px;
  background-image: url('../public/images/old-paper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: cornflowerblue; */
}

#content {
  width: calc(100% - 320px);
  background-color: rgb(235, 235, 235);
  padding: 30px;
  box-sizing: border-box;
}

@media (orientation: portrait) and (max-width: 800px) {

  #content {
    width: 100%;
    margin-top: 6vh;
  }
}