.App {
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#sidebar {
  width: 300px;
  min-width: 300px;
  background-color: cornflowerblue;
}

#content {
  width: calc(100% - 320px);
  background-color: rgb(235, 235, 235);
}

@media (orientation: portrait) and (max-width: 800px) {
  main {
    height: 94vh;
  }

  #content {
    width: 100%;
  }
}