.App {
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#sidebar {
  width: 300px;
  min-width: 300px;
  height: 100vh;
  background-image: url('../public/images/old-paper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgb(55, 10, 10);
  box-shadow: 0 0 25px rgb(32, 6, 6);
  box-sizing: border-box;
}

#content {
  width: 100vw;
  height: 100vh;
  background-image: url('../public/images/old-paper-bis.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  box-shadow: 0 0 25px 5px rgb(32, 6, 6);
  box-sizing: border-box;
  overflow: auto;
}

h1, h2, h3, p {
  font-family: 'Love Ya Like A Sister', cursive;
  letter-spacing: 2px;
  color: rgb(55, 10, 10);
  text-align: center;
}

p {
  font-size: 1.5em;
}

@media (orientation: landscape) and (min-width: 801px) {

  #content {
    width: calc(100% - 320px);
    margin-top: 0;
  }
}

@media (orientation: portrait) and (max-width: 800px) {

  #content {
    height: 94vh;
    margin-top: 6vh;
  }
}